.cover__link {
  display: flex;
  flex-direction: column;
  width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  margin-bottom: 92px;
  background-image: url(../../../images/cover/__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  justify-content: center;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 30%;
}

.cover__link:hover::before {
  opacity: 80%;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__link {
      width: 100%;
      max-width: 1024px;
      min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
      width: 100%;
      max-width: 768px;
      min-height: 480px;
      margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
      width: 320px;
      min-height: 200px;
      margin-bottom: 64px;
  }
}


