.place__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .place__title{
        font-size: 5.47vw;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        word-spacing: 0;
        width: 288px;
        margin: 0 auto;
    }
}
