.page {
    font-family: 'Inter', Arial, sans-serif;
    background: #2A2C2F;
    width: 1280px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }