.photo-grid {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 92px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, min-content);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(4, min-content);
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(6, min-content);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        gap: 12px;
        grid-template-columns: repeat(1, min-content);
        grid-template-rows: repeat(12, min-content);
    }
}