.header__links {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    gap: 18px;
    margin: 0;
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
    .header__links {
        margin-top: 14px;
    }
}