.cover__subtitle {
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        width: 288px;
    }
}