.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 28px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}
