.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 28px;
    margin: 0 auto;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .header {
      max-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        max-width: 288px;
    }
}
