.place__paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph{

        font-size: 2.08vw;
        width: 45vw;
   }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        width: 288px;
        margin: 0 auto;
        font-size: 16px;
    }
}
