.footer__copyright {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        margin-top: 0px;
        line-height: 1;
    }
}
