.lead__image {
    margin: 0 auto;
    height: 615px;
    width: 984px;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .lead__image {
        height: 580px;
        width: 928px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        object-fit: cover;
        height: 480px;
        width: 100%;
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        height: 200px;
        width: 320px;
    }
}
