.intro {
    width: 984px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .intro {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: fit-content;
        margin-bottom: 88px;
    }
}


@media screen and (max-width: 425px) {
  .intro {
      margin-bottom: 64px;
  }
}
