.intro {
    width: 984px;
    min-height: 429px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .intro {
        width: 928px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        width: fit-content;
    }
}