.cover__title {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    width: 560px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover__title{
      font-size: 9.37vw;
      width: 72.9vw;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.09;
        width: 288px;
    }
}
