.place {
    display: grid;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .place {
        display: grid;
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: 340px 352px;
        column-gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 320px;
        row-gap: 32px;
    }
}