.footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 24px;
    width: 1184px;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 100%;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        width: 288px;
        flex-direction: column;
        gap: 48px;
        height: fit-content;
    }
}
